@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


body {
    background-color: #B85042;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;


}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    background:#A7BEAE ;
    width: 440px;
    padding: 30px 30px 38px;
    border-radius: 10px;
    flex-direction: column;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);


}
.wrapper img{
   max-width: 110px;

   
}

.wrapper h1 {
    font-size: 38px;
    font-weight: 500;
    margin: 30px 0;
    text-align: center;

}

.wrapper .content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.content.disable{
    opacity: 0.6;
    pointer-events: none;
}

.content .column {
    border-radius: 5px;
    padding: 0 10px;
    border: 1px solid ;
    width: calc(100%/3 - 5px);
}

.column select {
    outline: none;
    border: none;
    height: 50px;
    width: 100%;
    font-size: 19px;
    background: #A7BEAE;
    


}

.wrapper button {
    width: 100%;
    background-color:#E7E8D1 ;
    padding: 10px 20px;
    margin-top: 20px;
    outline: none;
    border: none;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;


}